.typography-container {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  width: 90%;
  color: transparent;
  border: 1px solid #fff;

  h1 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
